.image-header {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
  /* font-weight: 500; */
  /* border: 2px solid black; */
  margin-bottom: 0.5rem;
}
.type {
  color: #27272a;
}

/* Responsive */
@media only screen and (max-width: 480px) {
  .image-header {
    margin-top: 5.2rem;
    font-size: 1.5rem;
  }
}
